Source/CSharp/Pragma.Apps/Pragma.App.Services/Service References/Itau.WsFundCompositionPosition/WsFundCompositionPosition.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RequestFundCompositionPosition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="portfolio" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="positionDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestFundCompositionPositionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestFundCompositionPositionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFundCompositionPosition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestIdentifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFundCompositionPositionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFundCompositionPositionResult" type="tns:FundCompositionPosition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FundCompositionPosition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModificationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Final" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="arquivoposicao_4_01" type="tns:arquivoposicao_4_01" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="arquivoposicao_4_01">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="fundo" type="tns:Fundo_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="carteira" type="tns:Carteira_type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fundo_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:header_fundo_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="partplanprev" type="tns:partplanprev_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="titpublico" type="tns:titpublico_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="titprivado" type="tns:titprivado_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="debenture" type="tns:debenture_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="acoes" type="tns:acoes_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesacoes" type="tns:opcoesacoes_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesderiv" type="tns:opcoesderiv_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesflx" type="tns:opcoesflx_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="termorv" type="tns:termorv_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="termorf" type="tns:termorf_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="futuros" type="tns:futuros_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="swap" type="tns:swap_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="caixa" type="tns:caixa_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="cotas" type="tns:cotas_type" />
          <s:element minOccurs="0" maxOccurs="1" name="despesas" type="tns:despesas_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="outrasdespesas" type="tns:outrasdespesas_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="provisao" type="tns:provisao_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="corretagem" type="tns:corretagem_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="imoveis" type="tns:imovel_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesmoedasotc" type="tns:opcoesmoedasotcl_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="forwardsmoedas" type="tns:forwardsmoedas_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="participacoes" type="tns:participacoes_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="fidc" type="tns:fidc_type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="header_fundo_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtposicao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeadm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjadm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomegestor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjgestor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomecustodiante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjcustodiante" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="valorcota" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="patliq" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorativos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorreceber" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorpagar" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlcotasemitir" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlcotasresgatar" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="codanbid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipofundo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelrsc" type="tns:nivelrsc_type" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="nivelrsc_type">
        <s:restriction base="s:string">
          <s:enumeration value="BB" />
          <s:enumeration value="MM" />
          <s:enumeration value="MA" />
          <s:enumeration value="AA" />
          <s:enumeration value="" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="partplanprev_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cnpb" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="percpart" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="titpublico_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cusip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtemissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoperacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qtdisponivel" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="qtgarantia" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="depgar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pucompra" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="puvencimento" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="puemissao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="principal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfindisp" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinemgar" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="coupom" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percindex" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="caracteristica" type="tns:caracteristica_type" />
          <s:element minOccurs="0" maxOccurs="1" name="percprovcred" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="compromisso" type="tns:compromisso_type" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCDTV_type" />
          <s:element minOccurs="0" maxOccurs="1" name="idinternoativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelrsc" type="tns:nivelrsc_type" />
          <s:element minOccurs="0" maxOccurs="1" name="aluguel" type="tns:aluguel_type" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="caracteristica_type">
        <s:restriction base="s:string">
          <s:enumeration value="N" />
          <s:enumeration value="V" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="compromisso_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dtretorno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="puretorno" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexadorcomp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="perindexcomp" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="txoperacao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="classecomp" type="tns:classeCV_type" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="classeCV_type">
        <s:restriction base="s:string">
          <s:enumeration value="C" />
          <s:enumeration value="V" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="classeCDTV_type">
        <s:restriction base="s:string">
          <s:enumeration value="C" />
          <s:enumeration value="D" />
          <s:enumeration value="T" />
          <s:enumeration value="V" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="aluguel_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dtvencalug" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txalug" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexadoralug" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="percalug" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="titprivado_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cusip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtemissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoperacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjemissor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qtdisponivel" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="qtgarantia" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="depgar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pucompra" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puvencimento" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puemissao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="principal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfindisp" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinemgar" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="coupom" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percindex" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="caracteristica" type="tns:caracteristica_type" />
          <s:element minOccurs="0" maxOccurs="1" name="percprovcred" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="compromisso" type="tns:compromisso_type" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCDTV_type" />
          <s:element minOccurs="0" maxOccurs="1" name="idinternoativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelrsc" type="tns:nivelrsc_type" />
          <s:element minOccurs="0" maxOccurs="1" name="aluguel" type="tns:aluguel_type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="debenture_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coddeb" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="debconv" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="debpartlucro" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="SPE" type="tns:sn_type" />
          <s:element minOccurs="0" maxOccurs="1" name="cusip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtemissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoperacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjemissor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qtdisponivel" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="qtgarantia" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="depgar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pucompra" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puvencimento" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puemissao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="principal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfindisp" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinemgar" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="coupom" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percindex" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="caracteristica" type="tns:caracteristica_type" />
          <s:element minOccurs="0" maxOccurs="1" name="percprovcred" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="compromisso" type="tns:compromisso_type" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCDTV_type" />
          <s:element minOccurs="0" maxOccurs="1" name="idinternoativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelrsc" type="tns:nivelrsc_type" />
          <s:element minOccurs="0" maxOccurs="1" name="aluguel" type="tns:aluguel_type" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="sn_type">
        <s:restriction base="s:string">
          <s:enumeration value="S" />
          <s:enumeration value="N" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="acoes_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cusip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codativo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qtdisponivel" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="lote" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="qtgarantia" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfindisp" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinemgar" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="percprovcred" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tpconta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCDTV_type" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencalug" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txalug" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjinter" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="opcoesacoes_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cusip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ativobase" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qtdisponivel" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precoexercicio" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCV_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="premio" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="percprovcred" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tpconta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="opcoesderiv_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="mercado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="callput" type="tns:callput_type" />
          <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precoexercicio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="premio" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCV_type" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="callput_type">
        <s:restriction base="s:string">
          <s:enumeration value="C" />
          <s:enumeration value="P" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="opcoesflx_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:tipoopcao_type" />
          <s:element minOccurs="1" maxOccurs="1" name="callput" type="tns:callput_type" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoperacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtexercicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ativo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="garantia" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="premio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precoexercicio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCV_type" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="tipoopcao_type">
        <s:restriction base="s:string">
          <s:enumeration value="A" />
          <s:enumeration value="E" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="termorv_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cusip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoperacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="garantia" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puvenc" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tpconta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCV_type" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="termorf_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoper" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qtd" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puoperacao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puvencimento" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puemissao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="principal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfin" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="coupom" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percindex" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="caracteristica" type="tns:caracteristica_type" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCVA_type" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="idinternoativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelrsc" type="tns:nivelrsc_type" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="classeCVA_type">
        <s:restriction base="s:string">
          <s:enumeration value="C" />
          <s:enumeration value="V" />
          <s:enumeration value="A" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="futuros_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjcorretora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vltotalpos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="vlajuste" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCV_type" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="swap_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cetipbmf" type="tns:cetipbmf_type" />
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoperacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtregistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjcontraparte" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="garantia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="vlnotional" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlmercadoativo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="taxaativo" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexadorativo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percindexativo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlmercadopassivo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="taxapassivo" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexadorpassivo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percindexpassivo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="idinternoativo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="cetipbmf_type">
        <s:restriction base="s:string">
          <s:enumeration value="C" />
          <s:enumeration value="B" />
          <s:enumeration value="O" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="caixa_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isininstituicao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tpconta" type="tns:tpcontacc_type" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelrsc" type="tns:nivelrsc_type" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="tpcontacc_type">
        <s:restriction base="s:string">
          <s:enumeration value="D" />
          <s:enumeration value="P" />
          <s:enumeration value="N" />
          <s:enumeration value="I" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="cotas_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="isin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjfundo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qtdisponivel" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="qtgarantia" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="nivelrsc" type="tns:nivelrsc_type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="despesas_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="txadm" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="perctaxaadm" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="txperf" type="tns:sn_type" />
          <s:element minOccurs="0" maxOccurs="1" name="vltxperf" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="perctxperf" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="percindex" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="outtax" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="indexador" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="outrasdespesas_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="coddesp" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="provisao_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codprov" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="credeb" type="tns:credeb_type" />
          <s:element minOccurs="0" maxOccurs="1" name="dt" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="credeb_type">
        <s:restriction base="s:string">
          <s:enumeration value="C" />
          <s:enumeration value="D" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="corretagem_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cnpjcorretora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tpcorretora" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="numope" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="vlbov" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlrepassebov" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlbmf" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlrepassebmf" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vloutbolsas" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vlrepasseoutbol" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="imovel_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cep" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="nomecomercial" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percpart" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorcontabil" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="justificativa" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="valoravaliacao" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="dtavaliacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tpavaliador" type="tns:tpcli_type" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjcpfavaliador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="aluguelcontratado" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="aluguelatrasado" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="opcaorecompra" type="tns:sn_type" />
          <s:element minOccurs="0" maxOccurs="1" name="dtopcaorecompra" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipoimovel" type="tns:tipoimovel_type" />
          <s:element minOccurs="1" maxOccurs="1" name="questjur" type="tns:sn_type" />
          <s:element minOccurs="0" maxOccurs="1" name="motivoquestjur" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipouso" type="tns:tipouso_type" />
          <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjemp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="tpcli_type">
        <s:restriction base="s:string">
          <s:enumeration value="F" />
          <s:enumeration value="J" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tipoimovel_type">
        <s:restriction base="s:string">
          <s:enumeration value="01" />
          <s:enumeration value="02" />
          <s:enumeration value="03" />
          <s:enumeration value="04" />
          <s:enumeration value="05" />
          <s:enumeration value="06" />
          <s:enumeration value="07" />
          <s:enumeration value="08" />
          <s:enumeration value="09" />
          <s:enumeration value="10" />
          <s:enumeration value="11" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tipouso_type">
        <s:restriction base="s:string">
          <s:enumeration value="01" />
          <s:enumeration value="02" />
          <s:enumeration value="03" />
          <s:enumeration value="04" />
          <s:enumeration value="05" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="opcoesmoedasotcl_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codoper" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo" type="tns:tipoopcao_type" />
          <s:element minOccurs="1" maxOccurs="1" name="callput" type="tns:callput_type" />
          <s:element minOccurs="0" maxOccurs="1" name="dtoperacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtexercicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="moedaativa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="moedapassiva" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="garantia" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="premio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="puposicao" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precoexercicio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCV_type" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="forwardsmoedas_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tipooperacao" type="tns:tipooperacao_type" />
          <s:element minOccurs="0" maxOccurs="1" name="moedaativa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="moedapassiva" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="notional" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="taxa" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="dtvencimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="classeoperacao" type="tns:classeCV_type" />
          <s:element minOccurs="1" maxOccurs="1" name="hedge" type="tns:sn_type" />
          <s:element minOccurs="1" maxOccurs="1" name="tphedge" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="tipooperacao_type">
        <s:restriction base="s:string">
          <s:enumeration value="FRW" />
          <s:enumeration value="NDF" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="participacoes_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cnpjpart" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="fidc_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="valorfinanceiro" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Carteira_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:header_carteira_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="partplanprev" type="tns:partplanprev_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="titpublico" type="tns:titpublico_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="titprivado" type="tns:titprivado_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="debenture" type="tns:debenture_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="acoes" type="tns:acoes_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesacoes" type="tns:opcoesacoes_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesderiv" type="tns:opcoesderiv_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesflx" type="tns:opcoesflx_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="termorv" type="tns:termorv_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="termorf" type="tns:termorf_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="futuros" type="tns:futuros_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="swap" type="tns:swap_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="caixa" type="tns:caixa_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="cotas" type="tns:cotas_type" />
          <s:element minOccurs="0" maxOccurs="1" name="despesas" type="tns:despesas_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="outrasdespesas" type="tns:outrasdespesas_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="provisao" type="tns:provisao_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="corretagem" type="tns:corretagem_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="imoveis" type="tns:imovel_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="opcoesmoedasotc" type="tns:opcoesmoedasotcl_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="forwardsmoedas" type="tns:forwardsmoedas_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="participacoes" type="tns:participacoes_type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="fidc" type="tns:fidc_type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="header_carteira_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cnpjcpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codcart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dtposicao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tpcli" type="tns:tpcli_type" />
          <s:element minOccurs="0" maxOccurs="1" name="codcntcor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomegestor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjgestor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomecustodiante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjcustodiante" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="patliq" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tributos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorativos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorreceber" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="valorpagar" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestFundCompositionPositionSoapIn">
    <wsdl:part name="parameters" element="tns:RequestFundCompositionPosition" />
  </wsdl:message>
  <wsdl:message name="RequestFundCompositionPositionSoapOut">
    <wsdl:part name="parameters" element="tns:RequestFundCompositionPositionResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveFundCompositionPositionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveFundCompositionPosition" />
  </wsdl:message>
  <wsdl:message name="RetrieveFundCompositionPositionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveFundCompositionPositionResponse" />
  </wsdl:message>
  <wsdl:portType name="WsFundCompositionPositionSoap">
    <wsdl:operation name="RequestFundCompositionPosition">
      <wsdl:input message="tns:RequestFundCompositionPositionSoapIn" />
      <wsdl:output message="tns:RequestFundCompositionPositionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFundCompositionPosition">
      <wsdl:input message="tns:RetrieveFundCompositionPositionSoapIn" />
      <wsdl:output message="tns:RetrieveFundCompositionPositionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsFundCompositionPositionSoap" type="tns:WsFundCompositionPositionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestFundCompositionPosition">
      <soap:operation soapAction="http://tempuri.org/RequestFundCompositionPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFundCompositionPosition">
      <soap:operation soapAction="http://tempuri.org/RetrieveFundCompositionPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsFundCompositionPositionSoap12" type="tns:WsFundCompositionPositionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestFundCompositionPosition">
      <soap12:operation soapAction="http://tempuri.org/RequestFundCompositionPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFundCompositionPosition">
      <soap12:operation soapAction="http://tempuri.org/RetrieveFundCompositionPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsFundCompositionPosition">
    <wsdl:port name="WsFundCompositionPositionSoap" binding="tns:WsFundCompositionPositionSoap">
      <soap:address location="https://ww73.itau.com.br/ok4inet5/servicos/WsFundCompositionPosition.asmx" />
    </wsdl:port>
    <wsdl:port name="WsFundCompositionPositionSoap12" binding="tns:WsFundCompositionPositionSoap12">
      <soap12:address location="https://ww73.itau.com.br/ok4inet5/servicos/WsFundCompositionPosition.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>