Source/CSharp/Pragma.Apps/Pragma.App.Services/Service References/FilaPublicador/FilaPublicador2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.127:9090/PGM.WebService/FilaPublicador/FilaPublicador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGM.WebService.FilaPublicador" />
  <xs:element name="RecebeListaFilaXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeListaFilaXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecebeListaFilaXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeListaFila">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PGM.WebService.FilaPublicador" minOccurs="0" name="tFila" nillable="true" type="q1:ArrayOfFiltroInvestimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeListaFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecebeListaFilaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoPublicacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tId" type="xs:int" />
        <xs:element minOccurs="0" name="tUser" type="xs:int" />
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tMachineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tStatus" type="xs:int" />
        <xs:element minOccurs="0" name="tMsgErro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoPublicacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PedidoPublicacaoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarListaProcessamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarListaProcessamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PGM.WebService.FilaPublicador" minOccurs="0" name="EnviarListaProcessamentoResult" nillable="true" type="q2:ArrayOfGuiaInvestimentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarFila">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PGM.WebService.FilaPublicador" minOccurs="0" name="EnviarFilaResult" nillable="true" type="q3:ArrayOfGuiaInvestimentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarListaPedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarListaPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PGM.WebService.FilaPublicador" minOccurs="0" name="EnviarListaPedidosResult" nillable="true" type="q4:ArrayOfGuiaInvestimentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimparFila">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimparFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LimparFilaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>