Source/CSharp/Pragma.Apps/Pragma.App.Services/Service References/Galgo.ServicePLCota/ServicePLCota4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:stiplcota="http://www.stianbid.com.br/SchemaPLCota" xmlns:Q1="urn:iso:std:iso:20022:tech:xsd:reda.001.001.03" xmlns:Q2="urn:iso:std:iso:20022:tech:xsd:reda.002.001.03" xmlns:sticomum="http://www.stianbid.com.br/Common" elementFormDefault="qualified" targetNamespace="http://www.stianbid.com.br/SchemaPLCota" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ws.producao.sistemagalgo:7843/ServicePLCota?xsd=xsd4" namespace="urn:iso:std:iso:20022:tech:xsd:reda.002.001.03" />
  <xsd:import schemaLocation="https://ws.producao.sistemagalgo:7843/ServicePLCota?xsd=xsd1" namespace="urn:iso:std:iso:20022:tech:xsd:reda.001.001.03" />
  <xsd:import schemaLocation="https://ws.producao.sistemagalgo:7843/ServicePLCota?xsd=xsd2" namespace="http://www.stianbid.com.br/Common" />
  <xsd:element name="PlCota" type="stiplcota:MessagePLCotaComplexType" />
  <xsd:complexType name="MessagePLCotaComplexType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="Dados" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ConsultaPLCotaRequest" type="stiplcota:MessageConsultaPLCotaComplexType" />
  <xsd:complexType name="MessageConsultaPLCotaComplexType">
    <xsd:annotation>
      <xsd:documentation>Consulta PLCOTA</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="sticomum:MessageRequestComplexType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Parametros" type="stiplcota:ParametrosPLCotaComplexType">
            <xsd:annotation>
              <xsd:documentation>
    							Parametros PLCota
    						</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ParametrosPLCotaComplexType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" maxOccurs="1" name="BuscaEntidade" type="stiplcota:BuscaEntidadeComplexType">
          <xsd:annotation>
            <xsd:documentation>Busca por Entidade</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="BuscaObjeto" type="stiplcota:BuscaObjetoComplexType">
          <xsd:annotation>
            <xsd:documentation>Busca por Código STI</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" maxOccurs="1" name="DtInicEnvioCota" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
    					Período da Data de Envio da Cota (Data e Hora de
    					Início)
    				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DtFinEnvioCota" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
    					Período da Data de Envio da Cota (Data e Hora de
    					Término)
    				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DtInicInfo" type="sticomum:ISODate">
        <xsd:annotation>
          <xsd:documentation>
    					Período da Data da Informação (Data de Início)
    				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="DtFinInfo" type="sticomum:ISODate">
        <xsd:annotation>
          <xsd:documentation>
    					Período da Data da Informação (Data de Término)
    				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="StatusInfo" type="stiplcota:StatusInfoType">
        <xsd:annotation>
          <xsd:documentation>Status da Informação</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Atuacao" type="sticomum:AtuacaoType">
        <xsd:annotation>
          <xsd:documentation>Atuação no Compromisso</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="PgNb" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
    					Página inicial para consulta.
    				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CNPJIdentifier">
    <xsd:annotation>
      <xsd:documentation>CNPJ</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long">
      <xsd:pattern value="[0-9]{0,14}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CPFIdentifier">
    <xsd:annotation>
      <xsd:documentation>CPF</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long">
      <xsd:pattern value="[0-9]{0,11}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="STIIdentifier">
    <xsd:restriction base="xsd:int" />
  </xsd:simpleType>
  <xsd:complexType name="MessageCancelarPLCotaComplexType">
    <xsd:sequence>
      <xsd:element name="PricRptCxlV04" type="Q2:PriceReportCancellationV04" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageEnviarPLCotaComplexType">
    <xsd:sequence>
      <xsd:element name="PricRptV04" type="Q1:PriceReportV04" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageAvaliarPLCotaComplexType">
    <xsd:sequence>
      <xsd:element name="PricRptV04" type="Q1:PriceReportV04" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ValidarPLCotas" type="stiplcota:MessageAvaliarPLCotaComplexType" />
  <xsd:complexType name="MessageRetornoPLCotaComplexType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="stiplcota:MessageBatchResponsePendLongComplexType">
        <xsd:sequence>
          <xsd:element name="PricRptV04" type="Q1:PriceReportV04" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MessageBatchPendLongComplexType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="sticomum:MessageRequestComplexType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Marcador" type="stiplcota:MarcadorLongType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MessageBatchResponsePendLongComplexType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="sticomum:MessageBatchComplexType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Marcador" type="stiplcota:MarcadorLongType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MarcadorLongType">
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
  <xsd:simpleType name="StatusInfoType">
    <xsd:annotation>
      <xsd:documentation>
    			Status da Informação
    			1 - Enviada

    			2 - Reenviada

    			3 - Cancelada Manualmente

    			4 - Cancelada Automaticamente

    			5 - Rejeitada

				6 - Reenvio de Cota
    		</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EntidadeComplexType">
    <xsd:annotation>
      <xsd:documentation>Entidade</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="1" maxOccurs="1" name="CPF" type="stiplcota:CPFIdentifier">
          <xsd:annotation>
            <xsd:documentation>CPF Entidade</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="CNPJ" type="stiplcota:CNPJIdentifier">
          <xsd:annotation>
            <xsd:documentation>CNPJ Entidade</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="IdentifEstrangPF" type="sticomum:Max350Text">
          <xsd:annotation>
            <xsd:documentation>
        				Identificador Estrangeiro Pessoa Física
        			</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="IdentifEstrangPJ" type="sticomum:Max350Text">
          <xsd:annotation>
            <xsd:documentation>
        				Identificador Estrangeiro Pessoa Jurídica
        			</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObjetoComplexType">
    <xsd:annotation>
      <xsd:documentation>Código do Sistema</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="CdSti" type="stiplcota:STIIdentifier">
        <xsd:annotation>
          <xsd:documentation>Código STI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BuscaEntidadeComplexType">
    <xsd:annotation>
      <xsd:documentation>Busca Entidade</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="Entidade" type="stiplcota:EntidadeComplexType">
        <xsd:annotation>
          <xsd:documentation>Entidade</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BuscaObjetoComplexType">
    <xsd:annotation>
      <xsd:documentation>Busca Objeto</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="Objeto" type="stiplcota:ObjetoComplexType">
        <xsd:annotation>
          <xsd:documentation>Código do Sistema</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>