Source/CSharp/Pragma.Apps/Pragma.App.Services/Service References/Galgo.ServicePLCota/ServicePLCota.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.stianbid.com.br/ServicePLCota/" xmlns:Q1="http://www.stianbid.com.br/SchemaPLCota" xmlns:Q2="http://www.stianbid.com.br/Common" xmlns:Q3="urn:iso:std:iso:20022:tech:xsd:reda.001.001.03" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.stianbid.com.br/ServicePLCota/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ws.producao.sistemagalgo:7843/ServicePLCota?xsd=xsd1" namespace="urn:iso:std:iso:20022:tech:xsd:reda.001.001.03" />
  <xsd:import schemaLocation="https://ws.producao.sistemagalgo:7843/ServicePLCota?xsd=xsd2" namespace="http://www.stianbid.com.br/Common" />
  <xsd:import schemaLocation="https://ws.producao.sistemagalgo:7843/ServicePLCota?xsd=xsd3" namespace="http://www.stianbid.com.br/SchemaPLCota" />
  <xsd:element ibmSchExtn:docRoot="true" name="Consumir">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequisicaoConsulta" type="Q1:MessageConsultaPLCotaComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsumirResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RetornoConsulta" type="Q1:MessageRetornoPLCotaComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="Consumir_fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Consumir_fault" type="Q2:MessageExceptionComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="Enviar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DadosEnvio" type="Q1:MessageEnviarPLCotaComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="EnviarResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ReciboEnvio" type="Q2:MessageReceiptComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="Enviar_fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Enviar_fault" type="Q2:MessageExceptionComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsumirPendentes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequisicaoConsulta" type="Q1:MessageBatchPendLongComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsumirPendentesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RetornoConsulta" type="Q1:MessageRetornoPLCotaComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsumirPendentes_fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ConsumirPendentes_fault" type="Q2:MessageExceptionComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="Cancelar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DadosCancelamento" type="Q1:MessageCancelarPLCotaComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CancelarResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ReciboCancelamento" type="Q2:MessageReceiptComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="Cancelar_fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Cancelar_fault" type="Q2:MessageExceptionComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="RetornarAvaliacaoPLCota">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DadosAvaliacao" type="tns:MessageAvaliacaoPLCotaComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="RetornarAvaliacaoPLCotaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ReciboAvaliacao" type="Q2:MessageReceiptComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MessageAvaliacaoPLCotaComplexType">
    <xsd:sequence>
      <xsd:element name="PricRptV04" type="Q3:PriceReportV04" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="RetornarAvaliacaoPLCota_fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RetornarAvaliacaoPLCota_fault" type="Q2:MessageExceptionComplexType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>