Source/CSharp/Pragma.Apps/Pragma.App.Services/Service References/Galgo.ServicePLCota/ServicePLCota3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.001.001.03" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.001.001.03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Document" type="Document" />
  <xsd:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0" />
      <xsd:fractionDigits value="13" />
      <xsd:totalDigits value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ActiveCurrencyAnd13DecimalAmount">
    <xsd:simpleContent>
      <xsd:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xsd:attribute name="Ccy" type="ActiveCurrencyCode" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ActiveCurrencyAndAmount_SimpleType">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0" />
      <xsd:fractionDigits value="5" />
      <xsd:totalDigits value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ActiveCurrencyAndAmount">
    <xsd:simpleContent>
      <xsd:extension base="ActiveCurrencyAndAmount_SimpleType">
        <xsd:attribute name="Ccy" type="ActiveCurrencyCode" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ActiveCurrencyCode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{3,3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0" />
      <xsd:fractionDigits value="13" />
      <xsd:totalDigits value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
    <xsd:simpleContent>
      <xsd:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xsd:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="5" />
      <xsd:totalDigits value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xsd:simpleContent>
      <xsd:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xsd:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ActiveOrHistoricCurrencyCode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{3,3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AdditionalReference3">
    <xsd:sequence>
      <xsd:element name="Ref" type="Max35Text" />
      <xsd:element minOccurs="0" name="RefIssr" type="PartyIdentification2Choice" />
      <xsd:element minOccurs="0" name="MsgNm" type="Max35Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AddressType2Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ADDR" />
      <xsd:enumeration value="PBOX" />
      <xsd:enumeration value="HOME" />
      <xsd:enumeration value="BIZZ" />
      <xsd:enumeration value="MLTO" />
      <xsd:enumeration value="DLVY" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AlternateSecurityIdentification1">
    <xsd:sequence>
      <xsd:element name="Id" type="Max35Text" />
      <xsd:choice>
        <xsd:element name="DmstIdSrc" type="CountryCode" />
        <xsd:element name="PrtryIdSrc" type="Max35Text" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AnyBICIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BelgianIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="BloombergIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CUSIPIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="CalculationBasis2Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AVER" />
      <xsd:enumeration value="DAIL" />
      <xsd:enumeration value="MNTH" />
      <xsd:enumeration value="YEAR" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Charge15">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Tp" type="ChargeType9Code" />
        <xsd:element name="XtndedTp" type="Extended350Code" />
      </xsd:choice>
      <xsd:choice>
        <xsd:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount" />
        <xsd:element name="Rate" type="PercentageRate" />
      </xsd:choice>
      <xsd:choice>
        <xsd:element minOccurs="0" name="ClctnBsis" type="CalculationBasis2Code" />
        <xsd:element minOccurs="0" name="XtndedClctnBsis" type="Extended350Code" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ChargeType9Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MANF" />
      <xsd:enumeration value="BEND" />
      <xsd:enumeration value="FEND" />
      <xsd:enumeration value="ADVI" />
      <xsd:enumeration value="CUST" />
      <xsd:enumeration value="PUBL" />
      <xsd:enumeration value="ACCT" />
      <xsd:enumeration value="EQUL" />
      <xsd:enumeration value="PENA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ConsolidatedTapeAssociationIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{2,2}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DateAndDateTimeChoice">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Dt" type="ISODate" />
        <xsd:element name="DtTm" type="ISODateTime" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateOrDateTimePeriodChoice">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Dt" type="DatePeriodDetails" />
        <xsd:element name="DtTm" type="DateTimePeriodDetails" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatePeriodDetails">
    <xsd:sequence>
      <xsd:element name="FrDt" type="ISODate" />
      <xsd:element name="ToDt" type="ISODate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateTimePeriodDetails">
    <xsd:sequence>
      <xsd:element name="FrDtTm" type="ISODateTime" />
      <xsd:element name="ToDtTm" type="ISODateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DecimalNumber">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="17" />
      <xsd:totalDigits value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DistributionPolicy1Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DIST" />
      <xsd:enumeration value="ACCU" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Document">
    <xsd:sequence>
      <xsd:element name="PricRptV04" type="PriceReportV04" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DutchIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EUCapitalGain2Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EUSI" />
      <xsd:enumeration value="EUSO" />
      <xsd:enumeration value="UKWN" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EUDividendStatus1Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DIVI" />
      <xsd:enumeration value="DIVO" />
      <xsd:enumeration value="UKWN" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EuroclearClearstreamIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="12" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EventFrequency1Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="YEAR" />
      <xsd:enumeration value="SEMI" />
      <xsd:enumeration value="QUTR" />
      <xsd:enumeration value="TOMN" />
      <xsd:enumeration value="MNTH" />
      <xsd:enumeration value="TWMN" />
      <xsd:enumeration value="TOWK" />
      <xsd:enumeration value="WEEK" />
      <xsd:enumeration value="DAIL" />
      <xsd:enumeration value="ADHO" />
      <xsd:enumeration value="INDA" />
      <xsd:enumeration value="OVNG" />
      <xsd:enumeration value="ONDE" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Extended350Code">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="350" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Extension1">
    <xsd:sequence>
      <xsd:element name="PlcAndNm" type="Max350Text" />
      <xsd:element name="Txt" type="Max350Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialInstrument8">
    <xsd:sequence>
      <xsd:element maxOccurs="10" name="Id" type="SecurityIdentification3Choice" />
      <xsd:element minOccurs="0" name="Nm" type="Max350Text" />
      <xsd:element minOccurs="0" name="SplmtryId" type="Max35Text" />
      <xsd:element minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode" />
      <xsd:element minOccurs="0" name="ClssTp" type="Max35Text" />
      <xsd:element minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code" />
      <xsd:element minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code" />
      <xsd:element name="DualFndInd" type="YesNoIndicator" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Xtnsn" type="Extension1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialInstrumentQuantity1">
    <xsd:sequence>
      <xsd:element name="Unit" type="DecimalNumber" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="FormOfSecurity1Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BEAR" />
      <xsd:enumeration value="REGD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GenericIdentification1">
    <xsd:sequence>
      <xsd:element name="Id" type="Max35Text" />
      <xsd:element minOccurs="0" name="SchmeNm" type="Max35Text" />
      <xsd:element minOccurs="0" name="Issr" type="Max35Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ISINIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{12,12}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ISODate">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ISODateTime">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="Max16Text">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Max350Text">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="350" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Max35Text">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Max5NumericText">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1,5}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Max70Text">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="70" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MessageIdentification1">
    <xsd:sequence>
      <xsd:element name="Id" type="Max35Text" />
      <xsd:element name="CreDtTm" type="ISODateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NameAndAddress5">
    <xsd:sequence>
      <xsd:element name="Nm" type="Max350Text" />
      <xsd:element minOccurs="0" name="Adr" type="PostalAddress1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Number">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="0" />
      <xsd:totalDigits value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Pagination">
    <xsd:sequence>
      <xsd:element name="PgNb" type="Max5NumericText" />
      <xsd:element name="LastPgInd" type="YesNoIndicator" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyIdentification2Choice">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="BICOrBEI" type="AnyBICIdentifier" />
        <xsd:element name="PrtryId" type="GenericIdentification1" />
        <xsd:element name="NmAndAdr" type="NameAndAddress5" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PercentageRate">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="10" />
      <xsd:totalDigits value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PerformanceFactors1">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CorpActnFctr" type="DecimalNumber" />
      <xsd:element minOccurs="0" name="CmltvCorpActnFctr" type="DecimalNumber" />
      <xsd:element minOccurs="0" name="AcmltnPrd" type="DatePeriodDetails" />
      <xsd:element minOccurs="0" name="NrmlPrfrmnc" type="DecimalNumber" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PlusOrMinusIndicator">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:complexType name="PostalAddress1">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AdrTp" type="AddressType2Code" />
      <xsd:element minOccurs="0" maxOccurs="5" name="AdrLine" type="Max70Text" />
      <xsd:element minOccurs="0" name="StrtNm" type="Max70Text" />
      <xsd:element minOccurs="0" name="BldgNb" type="Max16Text" />
      <xsd:element minOccurs="0" name="PstCd" type="Max16Text" />
      <xsd:element minOccurs="0" name="TwnNm" type="Max35Text" />
      <xsd:element minOccurs="0" name="CtrySubDvsn" type="Max35Text" />
      <xsd:element name="Ctry" type="CountryCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PriceMethod1Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FORW" />
      <xsd:enumeration value="HIST" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PriceReportV04">
    <xsd:sequence>
      <xsd:element name="MsgId" type="MessageIdentification1" />
      <xsd:element minOccurs="0" name="PoolRef" type="AdditionalReference3" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PrvsRef" type="AdditionalReference3" />
      <xsd:element minOccurs="0" name="RltdRef" type="AdditionalReference3" />
      <xsd:element name="MsgPgntn" type="Pagination" />
      <xsd:element maxOccurs="unbounded" name="PricValtnDtls" type="PriceValuation3" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Xtnsn" type="Extension1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceType2">
    <xsd:sequence>
      <xsd:element name="Strd" type="TypeOfPrice6Code" />
      <xsd:element minOccurs="0" name="AddtlInf" type="Max350Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceValuation3">
    <xsd:sequence>
      <xsd:element name="Id" type="Max35Text" />
      <xsd:element minOccurs="0" name="ValtnDtTm" type="DateAndDateTimeChoice" />
      <xsd:element name="NAVDtTm" type="DateAndDateTimeChoice" />
      <xsd:element name="FinInstrmDtls" type="FinancialInstrument8" />
      <xsd:element minOccurs="0" name="FndMgmtCpny" type="PartyIdentification2Choice" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="NAV" type="FinancialInstrumentQuantity1" />
      <xsd:element minOccurs="0" name="TtlUnitsNb" type="FinancialInstrumentQuantity1" />
      <xsd:element minOccurs="0" name="NxtValtnDtTm" type="DateAndDateTimeChoice" />
      <xsd:element minOccurs="0" name="PrvsValtnDtTm" type="DateAndDateTimeChoice" />
      <xsd:element name="ValtnTp" type="ValuationTiming1Code" />
      <xsd:element minOccurs="0" name="ValtnFrqcy" type="EventFrequency1Code" />
      <xsd:element minOccurs="0" name="InvstNetAmt" type="ActiveCurrencyAndAmount" />
      <xsd:element minOccurs="0" name="RedNetAmt" type="ActiveCurrencyAndAmount" />
      <xsd:element minOccurs="0" name="LclTaxAmt" type="ActiveCurrencyAndAmount" />
      <xsd:element name="OffclValtnInd" type="YesNoIndicator" />
      <xsd:element name="SspdInd" type="YesNoIndicator" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PricDtls" type="UnitPrice15" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ValtnSttstcs" type="ValuationStatistics3" />
      <xsd:element minOccurs="0" name="PrfrmncDtls" type="PerformanceFactors1" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AddtlInf" type="Max350Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceValue1">
    <xsd:sequence>
      <xsd:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceValue5">
    <xsd:sequence>
      <xsd:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceValueChange1">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" />
      <xsd:element minOccurs="0" name="AmtSgn" type="PlusOrMinusIndicator" />
      <xsd:element minOccurs="0" name="Rate" type="PercentageRate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="QUICKIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="RICIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SEDOLIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="SecurityIdentification3Choice">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="ISIN" type="ISINIdentifier" />
        <xsd:element name="SEDOL" type="SEDOLIdentifier" />
        <xsd:element name="CUSIP" type="CUSIPIdentifier" />
        <xsd:element name="RIC" type="RICIdentifier" />
        <xsd:element name="TckrSymb" type="TickerIdentifier" />
        <xsd:element name="Blmbrg" type="BloombergIdentifier" />
        <xsd:element name="CTA" type="ConsolidatedTapeAssociationIdentifier" />
        <xsd:element name="QUICK" type="QUICKIdentifier" />
        <xsd:element name="Wrtppr" type="WertpapierIdentifier" />
        <xsd:element name="Dtch" type="DutchIdentifier" />
        <xsd:element name="Vlrn" type="ValorenIdentifier" />
        <xsd:element name="SCVM" type="SicovamIdentifier" />
        <xsd:element name="Belgn" type="BelgianIdentifier" />
        <xsd:element name="Cmon" type="EuroclearClearstreamIdentifier" />
        <xsd:element name="OthrPrtryId" type="AlternateSecurityIdentification1" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SicovamIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="StatisticsByPredefinedTimePeriods2">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="HghstPricVal12Mnths" type="PriceValue5" />
      <xsd:element minOccurs="0" name="LwstPricVal12Mnths" type="PriceValue5" />
      <xsd:element minOccurs="0" name="OneYrPricChng" type="PriceValueChange1" />
      <xsd:element minOccurs="0" name="ThreeYrPricChng" type="PriceValueChange1" />
      <xsd:element minOccurs="0" name="FiveYrPricChng" type="PriceValueChange1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatisticsByUserDefinedTimePeriod2">
    <xsd:sequence>
      <xsd:element name="Prd" type="DateOrDateTimePeriodChoice" />
      <xsd:element minOccurs="0" name="HghstPricVal" type="PriceValue5" />
      <xsd:element minOccurs="0" name="LwstPricVal" type="PriceValue5" />
      <xsd:element minOccurs="0" name="PricChng" type="PriceValueChange1" />
      <xsd:element minOccurs="0" name="Yld" type="PercentageRate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tax17">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Tp" type="TaxType12Code" />
        <xsd:element name="XtndedTp" type="Extended350Code" />
      </xsd:choice>
      <xsd:element minOccurs="0" maxOccurs="7" name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" />
      <xsd:element minOccurs="0" name="Rate" type="PercentageRate" />
      <xsd:element name="Ctry" type="CountryCode" />
      <xsd:element minOccurs="0" name="TaxClctnDtls" type="TaxCalculationInformation4" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxCalculationInformation4">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="EUCptlGn" type="EUCapitalGain2Code" />
        <xsd:element minOccurs="0" name="XtndedEUCptlGn" type="Extended350Code" />
      </xsd:choice>
      <xsd:element minOccurs="0" name="PctgOfDebtClm" type="PercentageRate" />
      <xsd:element minOccurs="0" name="PctgGrdfthdDebt" type="PercentageRate" />
      <xsd:element minOccurs="0" name="TaxblIncmPerDvdd" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" />
      <xsd:choice>
        <xsd:element minOccurs="0" name="EUDvddSts" type="EUDividendStatus1Code" />
        <xsd:element minOccurs="0" name="XtndedEUDvddSts" type="Extended350Code" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TaxType12Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INPO" />
      <xsd:enumeration value="EUTR" />
      <xsd:enumeration value="AKT1" />
      <xsd:enumeration value="AKT2" />
      <xsd:enumeration value="ZWIS" />
      <xsd:enumeration value="MIET" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TaxableIncomePerShareCalculated2Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TSIY" />
      <xsd:enumeration value="TSIN" />
      <xsd:enumeration value="UKWN" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TickerIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeOfPrice6Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BIDE" />
      <xsd:enumeration value="OFFR" />
      <xsd:enumeration value="NAVL" />
      <xsd:enumeration value="CREA" />
      <xsd:enumeration value="CANC" />
      <xsd:enumeration value="INTE" />
      <xsd:enumeration value="SWNG" />
      <xsd:enumeration value="OTHR" />
      <xsd:enumeration value="MIDD" />
      <xsd:enumeration value="RINV" />
      <xsd:enumeration value="SWIC" />
      <xsd:enumeration value="DDVR" />
      <xsd:enumeration value="ACTU" />
      <xsd:enumeration value="NAUP" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeOfPrice9Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BIDE" />
      <xsd:enumeration value="OFFR" />
      <xsd:enumeration value="NAVL" />
      <xsd:enumeration value="CREA" />
      <xsd:enumeration value="CANC" />
      <xsd:enumeration value="INTE" />
      <xsd:enumeration value="SWNG" />
      <xsd:enumeration value="MIDD" />
      <xsd:enumeration value="RINV" />
      <xsd:enumeration value="SWIC" />
      <xsd:enumeration value="DDVR" />
      <xsd:enumeration value="ACTU" />
      <xsd:enumeration value="NAUP" />
      <xsd:enumeration value="GUAR" />
      <xsd:enumeration value="ENAV" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="UnitPrice15">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Tp" type="TypeOfPrice9Code" />
        <xsd:element name="XtndedTp" type="Extended350Code" />
      </xsd:choice>
      <xsd:element minOccurs="0" name="PricMtd" type="PriceMethod1Code" />
      <xsd:element maxOccurs="unbounded" name="ValInInvstmtCcy" type="PriceValue1" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ValInAltrntvCcy" type="PriceValue1" />
      <xsd:element name="ForExctnInd" type="YesNoIndicator" />
      <xsd:element name="CumDvddInd" type="YesNoIndicator" />
      <xsd:element minOccurs="0" name="ClctnBsis" type="PercentageRate" />
      <xsd:element name="EstmtdPricInd" type="YesNoIndicator" />
      <xsd:element minOccurs="0" name="NbOfDaysAcrd" type="Number" />
      <xsd:element minOccurs="0" name="TaxblIncmPerShr" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" />
      <xsd:choice>
        <xsd:element minOccurs="0" name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated2Code" />
        <xsd:element minOccurs="0" name="XtndedTaxblIncmPerShrClctd" type="Extended350Code" />
      </xsd:choice>
      <xsd:element minOccurs="0" name="TaxblIncmPerDvdd" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" />
      <xsd:choice>
        <xsd:element minOccurs="0" name="EUDvddSts" type="EUDividendStatus1Code" />
        <xsd:element minOccurs="0" name="XtndedEUDvddSts" type="Extended350Code" />
      </xsd:choice>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ChrgDtls" type="Charge15" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="TaxLbltyDtls" type="Tax17" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="TaxRfndDtls" type="Tax17" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ValorenIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="ValuationStatistics3">
    <xsd:sequence>
      <xsd:element name="Ccy" type="ActiveOrHistoricCurrencyCode" />
      <xsd:element name="PricTpChngBsis" type="PriceType2" />
      <xsd:element name="PricChng" type="PriceValueChange1" />
      <xsd:element minOccurs="0" name="Yld" type="PercentageRate" />
      <xsd:element minOccurs="0" name="ByPrdfndTmPrds" type="StatisticsByPredefinedTimePeriods2" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ByUsrDfndTmPrd" type="StatisticsByUserDefinedTimePeriod2" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ValuationTiming1Code">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EXCP" />
      <xsd:enumeration value="USUA" />
      <xsd:enumeration value="PATC" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WertpapierIdentifier">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="YesNoIndicator">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
</xsd:schema>