Source/CSharp/Pragma.Apps/Pragma.App.Services/Service References/Galgo.ServicePLCota/ServicePLCota1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:Q1="http://www.stianbid.com.br/SchemaPLCota" xmlns:sticommon="http://www.stianbid.com.br/Common" elementFormDefault="qualified" targetNamespace="http://www.stianbid.com.br/Common" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="InvestmentRecordIdComplexType">
    <annotation>
      <documentation>
        		Identificação do registro de investimento comumemente
        		utilizado pelas estruturas de negócio.
        	</documentation>
    </annotation>
    <sequence minOccurs="1" maxOccurs="1">
      <choice minOccurs="1" maxOccurs="1">
        <element minOccurs="0" maxOccurs="1" name="CdSti" type="int">
          <annotation>
            <documentation>Código STI</documentation>
          </annotation>
        </element>
        <element minOccurs="0" maxOccurs="1" name="ISIN" type="sticommon:ISINIdentifier">
          <annotation>
            <documentation>ISIN Code</documentation>
          </annotation>
        </element>
      </choice>
      <element minOccurs="0" maxOccurs="1" name="NmFantasia" type="sticommon:Max350Text">
        <annotation>
          <documentation>
    					Nome Fantasia atribuído ao fundo de
    					investimento.
    				</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Serie" type="sticommon:NumeroSerie">
        <annotation>
          <documentation>Número da Série</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Subordinada" type="sticommon:Max70Text">
        <annotation>
          <documentation>
                		Nomenclatura da Cota Subordinada
                	</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="Max350Text">
    <annotation>
      <documentation>Tipo de dado texto.</documentation>
    </annotation>
    <restriction base="string">
      <maxLength value="350" />
      <minLength value="0" />
    </restriction>
  </simpleType>
  <complexType name="MessageBatchComplexType">
    <annotation>
      <documentation>
        		Lote de mensagens que podem ser enviadas ao sistema para
        		tratamento.
        	</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idMsgSender" type="string">
        <annotation>
          <documentation>
        				Identificação da mensagem
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="tsMsgCreated" type="dateTime">
        <annotation>
          <documentation>
        				Data e hora da criação da mensagem
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="qtElementCount">
        <annotation>
          <documentation>
        				Quantidade de elementos incluídos na mensagem
        			</documentation>
        </annotation>
        <simpleType>
          <restriction base="int">
            <maxExclusive value="10000" />
            <minExclusive value="0" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="icLimitExceed" type="boolean">
        <annotation>
          <documentation>
        				Indica que foi retornado o limite máximo
        				solicitado, mas que existem mais informações a
        				serem consultas.

        				Ex: Caso seja solicitado um retorno máximo de
        				registros na tag Request /qtMaxElement e caso
        				existam mais itens a serem consultados, é
        				retornada a tag /icLimitExceed o valor true.
        			</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MessageReceiptBatchComplexType">
    <annotation>
      <documentation>
				Lote de mensagens de recibos enviadas ao sistema
				anteriormente.
			</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="sticommon:MessageBatchComplexType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="receipt" type="sticommon:MessageReceiptComplexType">
            <annotation>
              <documentation>
								Recibo de Envio do sistema STI-ANBID.
							</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MessageReceiptRequestComplexType">
    <annotation>
      <documentation>
				Solicita um lote de mensagens de recibos enviadas ao
				sistema anteriormente.
			</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="sticommon:MessageRequestComplexType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="receipt" type="sticommon:IdReceiptComplexType">
            <annotation>
              <documentation>
								Recibo de Envio do sistema STI-ANBID.
							</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IdReceiptComplexType">
    <annotation>
      <documentation>
				Recibo da solicitação enviada.
        	</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idReceipt" type="string">
        <annotation>
          <documentation>
						Código único do recibo.
                	</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdSenderReceiptComplexType">
    <annotation>
      <documentation>
				Recibo da solicitação enviada.
        	</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idMsgSender" type="string">
        <annotation>
          <documentation>
						Código utilizado pelo solicitante no envio original da mensagem a que este recibo se refere.
                	</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MessageSenderReceiptRequestComplexType">
    <annotation>
      <documentation>
				Solicita um lote de mensagens de recibos enviadas ao
				sistema anteriormente.
			</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="sticommon:MessageRequestComplexType">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="receipt" type="sticommon:IdSenderReceiptComplexType">
            <annotation>
              <documentation>
								Recibo de Envio do sistema STI-ANBID.
							</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MessageReceiptComplexType">
    <annotation>
      <documentation>
        		Recibo da solicitação enviada.
        	</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idReceipt" type="string">
        <annotation>
          <documentation>
        				Código único do recibo.
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="idMsgSender" type="string">
        <annotation>
          <documentation>
        				Código da mensagem do emissor da mensagem.
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="tsCreated" type="dateTime">
        <annotation>
          <documentation>
        				Data e Hora de criação do Recibo.
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="idProcessStatus" type="sticommon:StatusRecibo">
        <annotation>
          <documentation>
        				Código da situação de processamento.
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="tsProcessStatus" type="dateTime">
        <annotation>
          <documentation>
        				Data e hora da situação de processamento.
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="qtEstimatedProcessingTime" type="long">
        <annotation>
          <documentation>
        				Tempo estimado em segundos (utilizado no
        				processamento assíncrono para informar um
        				previsão de tempo no processamento, este campo
        				não será gravado é somente informativo).
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="objectReceipt" type="sticommon:ObjectReceiptComplexType">
        <annotation>
          <documentation>
        				Elementos processados.
        			</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ErrorElementComplexType">
    <annotation>
      <documentation>
        		Ponto que se refere ao erro informado e o erro
        	</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="errorPath" type="string">
        <annotation>
          <documentation>
        				campo que foi encontrado a exceção (localização
        				do erro)
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="errorKey" type="string">
        <annotation>
          <documentation>
        				Chave do erro encontrado.
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="errorMessage" type="string">
        <annotation>
          <documentation>
                		Código da lista constante no doc de
                		Especificação de Serviços
                	</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="originValue" type="string">
        <annotation>
          <documentation>
        				Valor enviado no request
        			</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ObjectReceiptComplexType">
    <annotation>
      <documentation>
				Informações dos elementos da solicitação inicial.
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="order" type="long">
        <annotation>
          <documentation>
						Identifica qual o elemento.

						A identificação e feita baseada na posição
						original do elemento na requisição enviada.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="status" type="sticommon:StatusErro">
        <annotation>
          <documentation>
						Identifica se ocorreu erro no elemento.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="errorTarget" type="sticommon:ErrorElementComplexType">
        <annotation>
          <documentation>
						Erros encontrados (no caso do status identificar
						que ocorreram erros).

					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="NrProtocolo" type="sticommon:NumeroProtocolo">
        <annotation>
          <documentation>
						Número de Protocolo, utilizado no momento para
						Fundos de Investimentos e Carteiras Adm.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Identif" type="sticommon:IdentifRegistroComplexType">
        <annotation>
          <documentation>
						Informações adicionais.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="AddInfo" type="sticommon:AddtlInfComplexType">
        <annotation>
          <documentation>Informação Adicional</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ActiveCurrencyAndAmount">
    <simpleContent>
      <extension base="sticommon:ActiveCurrencyAndAmount_SimpleType">
        <attribute name="Ccy" type="sticommon:ActiveCurrencyCode" use="required" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="ISODate">
    <annotation>
      <documentation>YYYY-MM-DD</documentation>
    </annotation>
    <restriction base="date" />
  </simpleType>
  <simpleType name="ISINIdentifier">
    <restriction base="string">
      <length value="12" />
      <pattern value="[A-Z0-9]{12,12}" />
    </restriction>
  </simpleType>
  <simpleType name="Max70Text">
    <restriction base="string">
      <minLength value="0" />
      <maxLength value="70" />
    </restriction>
  </simpleType>
  <simpleType name="CountryCode">
    <restriction base="string">
      <length value="2" />
      <pattern value="[A-Z]{2,2}" />
    </restriction>
  </simpleType>
  <simpleType name="Max35Text">
    <restriction base="string">
      <minLength value="0" />
      <maxLength value="35" />
    </restriction>
  </simpleType>
  <simpleType name="ActiveCurrencyCode">
    <annotation>
      <documentation>ISO 4217</documentation>
    </annotation>
    <restriction base="string">
      <length value="3" />
      <pattern value="[A-Z]{3,3}" />
    </restriction>
  </simpleType>
  <simpleType name="DistributionPolicy1Code">
    <annotation>
      <documentation>
    			ACCU - Accumulation - Income is added to the capital of
    			the fund

    			DIST - Distribution - Income is distributed to the
    			investors in the fun
    		</documentation>
    </annotation>
    <restriction base="string">
      <length value="4" />
      <enumeration value="ACCU" />
      <enumeration value="DIST" />
    </restriction>
  </simpleType>
  <simpleType name="NumeroProtocolo">
    <annotation>
      <documentation>Número de Protocolo</documentation>
    </annotation>
    <restriction base="long" />
  </simpleType>
  <simpleType name="StatusRecibo">
    <annotation>
      <documentation>
				Status Recibo

				PENDENTE(1)

				PROCESSANDO(2)

				PROCESSADO_COM_ERRO(3)

				PROCESSADO_SEM_ERRO(4)
        	</documentation>
    </annotation>
    <restriction base="long">
      <enumeration value="1" />
      <enumeration value="2" />
      <enumeration value="3" />
      <enumeration value="4" />
    </restriction>
  </simpleType>
  <simpleType name="StatusErro">
    <annotation>
      <documentation>
				Status Erro

				0 - Não ocorreu erro

				1 - Ocorreu Erro
			</documentation>
    </annotation>
    <restriction base="int">
      <enumeration value="0" />
      <enumeration value="1" />
    </restriction>
  </simpleType>
  <simpleType name="YesNoIndicator">
    <annotation>
      <documentation>
    			MeaningWhenTrue: Yes

    			MeaningWhenFalse: No
    		</documentation>
    </annotation>
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="3" />
      <enumeration value="Yes" />
      <enumeration value="No" />
    </restriction>
  </simpleType>
  <simpleType name="SimNaoIndicator">
    <annotation>
      <documentation>
    			MeaningWhenTrue: Sim

    			MeaningWhenFalse: Nao
    		</documentation>
    </annotation>
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
      <enumeration value="Sim" />
      <enumeration value="Nao" />
    </restriction>
  </simpleType>
  <simpleType name="EventFrequency2Code">
    <annotation>
      <documentation>
    			CLOS - Closed - Event cannot take place, because, for
    			example, the fund is closed.

    			DAIL - Daily - Event takes place every day.

    			MNTH - Monthly - Event takes place every month or once a
    			month.

    			QUTR - Quarterly - Event takes place every three months
    			or four times a year.

    			SEMI - SemiAnnual - Event takes place every six months
    			or two times a year.

    			WEEK - Weekly - Event takes place once a week. YEAR -
    			Annual - Event takes place every year or once a year.

    		</documentation>
    </annotation>
    <restriction base="string">
      <length value="4" />
      <enumeration value="CLOS" />
      <enumeration value="DAIL" />
      <enumeration value="MNTH" />
      <enumeration value="QUTR" />
      <enumeration value="SEMI" />
      <enumeration value="WEEK" />
      <enumeration value="YEAR" />
    </restriction>
  </simpleType>
  <simpleType name="EUSavingsDirective1Code">
    <annotation>
      <documentation>
    			EUSI - EUSavingsInScope - Investment Fund is in the
    			scope of the directive.

    			EUSO - EUSavingsOutScope - Investment Fund is out of the
    			scope of the directive.

    			VARI - EUSavingsVariable - Investment Fund may vary for
    			inclusion in the scope of the directive.
    		</documentation>
    </annotation>
    <restriction base="string">
      <length value="4" />
      <enumeration value="EUSI" />
      <enumeration value="EUSO" />
      <enumeration value="VARI" />
    </restriction>
  </simpleType>
  <simpleType name="ActiveCurrencyAndAmount_SimpleType">
    <restriction base="decimal">
      <minInclusive value="0" />
      <fractionDigits value="5" />
      <totalDigits value="18" />
    </restriction>
  </simpleType>
  <simpleType name="DecimalNumber">
    <restriction base="decimal">
      <totalDigits value="18" />
      <fractionDigits value="5" />
      <minInclusive value="0" />
    </restriction>
  </simpleType>
  <simpleType name="Number">
    <restriction base="decimal">
      <totalDigits value="18" />
      <fractionDigits value="0" />
    </restriction>
  </simpleType>
  <simpleType name="PriceMethod1Code">
    <annotation>
      <documentation>
    			FORW - ForwardPrice - Price will be calculated after the
    			close of the dealing period. An investor, therefore,
    			does not know the exact buy or sell price.

    			HIST - HistoricalPrice - Price is calculated at an
    			earlier valuation point preceding the dealing period. An
    			investor, therefore, knows the exact buy or sell price.
    		</documentation>
    </annotation>
    <restriction base="string">
      <length value="4" />
      <enumeration value="FORW" />
      <enumeration value="HIST" />
    </restriction>
  </simpleType>
  <simpleType name="BICIdentification1">
    <restriction base="string">
      <pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </restriction>
  </simpleType>
  <simpleType name="IBANIdentifier">
    <restriction base="string">
      <pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </restriction>
  </simpleType>
  <simpleType name="BBANIdentifier">
    <restriction base="string">
      <pattern value="[a-zA-Z0-9]{1,30}" />
    </restriction>
  </simpleType>
  <simpleType name="UPICIdentifier">
    <restriction base="string">
      <pattern value="[0-9]{8,17}" />
    </restriction>
  </simpleType>
  <simpleType name="AddressType2Code">
    <annotation>
      <documentation>
    			ADDR - Postal - Address is the complete postal address.

    			BIZZ - Business - Address is the business address.

    			DLVY - DeliveryTo - Address is the address to which
    			delivery is to take place.

    			HOME - Residential - Address is the home address.

    			MLTO - MailTo - Address is the address to which mail is
    			sent.

    			PBOX - POBox - Address is a postal office (PO) box.
    		</documentation>
    </annotation>
    <restriction base="string">
      <length value="4" />
      <enumeration value="ADDR" />
      <enumeration value="BIZZ" />
      <enumeration value="DLVY" />
      <enumeration value="HOME" />
      <enumeration value="MLTO" />
      <enumeration value="PBOX" />
    </restriction>
  </simpleType>
  <simpleType name="Max16Text">
    <restriction base="string">
      <minLength value="0" />
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="CurrencyCode">
    <restriction base="string">
      <pattern value="[A-Z]{3,3}" />
    </restriction>
  </simpleType>
  <simpleType name="PhoneNumber">
    <restriction base="string">
      <pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}" />
    </restriction>
  </simpleType>
  <simpleType name="Max256Text">
    <restriction base="string">
      <minLength value="0" />
      <maxLength value="256" />
    </restriction>
  </simpleType>
  <simpleType name="BICIdentifier">
    <restriction base="string">
      <pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </restriction>
  </simpleType>
  <simpleType name="ISOTime">
    <restriction base="time" />
  </simpleType>
  <simpleType name="Max500Text">
    <restriction base="string">
      <minLength value="0" />
      <maxLength value="500" />
    </restriction>
  </simpleType>
  <simpleType name="Max150Text">
    <restriction base="string">
      <minLength value="0" />
      <maxLength value="150" />
    </restriction>
  </simpleType>
  <complexType name="MessageRequestComplexType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idMsgSender" type="string">
        <annotation>
          <documentation>
    					Identificador da Mensagem
    				</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="qtMaxElement" type="int">
        <annotation>
          <documentation>
    					Quantidade Máxima de Elementos para Retorno
    				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MessageExceptionComplexType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idException" type="string" />
      <element minOccurs="1" maxOccurs="1" name="dsException" type="string" />
    </sequence>
  </complexType>
  <simpleType name="ISODateTime">
    <restriction base="dateTime" />
  </simpleType>
  <element name="Receipt" type="sticommon:MessageReceiptComplexType" />
  <simpleType name="NumeroSerie">
    <restriction base="int">
      <minExclusive value="0" />
    </restriction>
  </simpleType>
  <simpleType name="Max20Text">
    <restriction base="string">
      <minLength value="0" />
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="Max2000Text">
    <restriction base="string">
      <minLength value="2000" />
    </restriction>
  </simpleType>
  <element name="MessageReceiptBatch" type="sticommon:MessageReceiptBatchComplexType" />
  <element name="MessageReceiptRequest" type="sticommon:MessageReceiptRequestComplexType" />
  <complexType name="MessageRequestPendComplexType">
    <complexContent mixed="false">
      <extension base="sticommon:MessageRequestComplexType">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Marcador" type="sticommon:MarcadorType">
            <annotation>
              <documentation>
                        		Defini o parâmetro de início na consulta
                        		de fundos pendentes
                        	</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="MarcadorType">
    <annotation>
      <documentation>
    			O Marcador( Defini o parâmetro de início na consulta de
    			pendentes) é do tipo "String" e será utilizado com o
    			formato de data e hora e com 3 casas para milisegundos,
    			conforme Exemplo: - (Ex: 2000-01-01T23:00:01.789Z padrão
    			ISODateTime). O formato "String" foi escolhido para
    			evitar arredondamentos no milisegundo.
    		</documentation>
    </annotation>
    <restriction base="string">
      <length value="24" />
    </restriction>
  </simpleType>
  <complexType name="MessageBatchPendComplexType">
    <annotation>
      <documentation>
        		Lote de mensagens que podem ser enviadas ao sistema para
        		tratamento. Utilizado somente para consulta de fundos
        		pendentes.
        	</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="sticommon:MessageBatchComplexType">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Marcador" type="sticommon:MarcadorType">
            <annotation>
              <documentation>
    							Defini o parâmetro de início na consulta
    							de fundos pendentes
    						</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AddtlInfComplexType">
    <annotation>
      <documentation>Informações Adicionais</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="AddInf" type="sticommon:AddInfItemComplexType">
        <annotation>
          <documentation>

    					Informações Adicionais
    				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifRegistroComplexType">
    <annotation>
      <documentation>Identificador de Registro.</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="Id" type="sticommon:Max350Text">
        <annotation>
          <documentation>
        					Identificador (Ex: CdSti, CNPJ, Sigla)
        				</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DescricaoId" type="sticommon:TypeDescIdentif">
        <annotation>
          <documentation>
        					Descrição do Identificador
        				</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="IdAux" type="sticommon:Max350Text">
        <annotation>
          <documentation>
        				Identificador Auxiliar (Ex: Id do Cotista)
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DescricaoIdAux" type="sticommon:TypeDescIdentif">
        <annotation>
          <documentation>
        				Descrição do ID Auxiliar.
        			</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Dt" type="sticommon:ISODate">
        <annotation>
          <documentation>
        					Data (Ex: Data da Informação)
        				</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Moeda" type="sticommon:ActiveCurrencyCode">
        <annotation>
          <documentation>Moeda</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Servico" type="sticommon:Max150Text">
        <annotation>
          <documentation>
        					Serviço (Conforme a carga inicial dos dados
        					de operação e sub-operação do sistema)

        					EXTRATO DE CONCILIACAO DE COTAS

        					INFORMAÇÕES ANBIMA

        					PL/COTA

        					POSICAO DE ATIVOS DA CARTEIRA

        					REGISTRO DE CARTEIRAS ADMINISTRADAS

        					REGISTRO DE FUNDOS DE INVESTIMENTO
        				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ServicoComplexType">
    <sequence>
      <choice>
        <element name="PLCota" type="string" />
        <element name="FundoInvest" type="string" />
        <element name="CarteiraAdm" type="string" />
        <element name="ExtratoCota" type="string" />
        <element name="PosicaoAtivo" type="string" />
      </choice>
    </sequence>
  </complexType>
  <simpleType name="TypeDescIdentif">
    <annotation>
      <documentation>
        		Descrição do Identificador:

        		1 - Código STI

        		2 - CNPJ do Fundo de Investimento

        		3 – ISIN do Fundo de Investimento

        		4 - Nome Fantasia do Fundo de Investimento

        		5 - Numero da Série

        		6 - Nomenclatura da Cota Subordinada

        		7 – CPF da Carteira Administrada

        		8 – Identificador de Cliente Estrangeiro da Carteira
        		Administrada

        		9 – CNPJ da Carteira Administrada

        		10 - Sigla da Carteira Administrada
        	</documentation>
    </annotation>
    <restriction base="int">
      <enumeration value="1" />
      <enumeration value="2" />
      <enumeration value="3" />
      <enumeration value="4" />
      <enumeration value="5" />
      <enumeration value="6" />
      <enumeration value="7" />
      <enumeration value="8" />
      <enumeration value="9" />
      <enumeration value="10" />
    </restriction>
  </simpleType>
  <simpleType name="InfoAtencType">
    <annotation>
      <documentation>
        		Informação Indicativa para Atenção do usuário

        		01 - Ainda Existe extrato para Cancelamento.
        	</documentation>
    </annotation>
    <restriction base="int">
      <enumeration value="01" />
    </restriction>
  </simpleType>
  <complexType name="AddInfItemComplexType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="Id" type="int">
        <annotation>
          <documentation>Identificador</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="Description" type="sticommon:Max70Text">
        <annotation>
          <documentation>Descrição.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="AtuacaoType">
    <annotation>
      <documentation>
    			Atuação no compromisso
    			
    			1 - Provedor
    			2 - Consumidor     			
    		</documentation>
    </annotation>
    <restriction base="integer">
      <enumeration value="1" />
      <enumeration value="2" />
    </restriction>
  </simpleType>
</schema>